# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.DS_Store

# Build
dist
dist-ssr
release

# Editor
*.local
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Secrets & data
.env
savestate
